useDynLib(rvswf)
export(vwfd.rwg, # Vector Wave Field Definition: Rectangular Wave Guide
       vwfd.cwg, # Vector Wave Field Definition: Cylindrical Wave Guide
       vwfd.bbz, # Vector Wave Field Definition: Bessel Beams Z-Oriented
       vwfd.bbp, # Vector Wave Field Definition: Bessel Beams P-Oriented
       vswf.pwe, # Vector Spherical Wave Functions: Partial Wave Expansion
       vswf.jlm, # Vector Spherical Wave Functions: Positioner j(l,m)
       vswf.qlm, # Vector Spherical Wave Functions: Legendre Q_{lm}
       vswf.psi, # Vector Spherical Wave Functions: Wave Function Psi_{lm}(r)
       vswf.gpw, # Vector Spherical Wave Functions: Generic Plane Wave
       vswf.mpw, # Vector Spherical Wave Functions: Mie's Plane Wave
       vswf.gwg, # Vector Spherical Wave Functions: Generic Wave Guide
       vswf.rwg, # Vector Spherical Wave Functions: Rectangular Wave Guide
       vswf.cwg, # Vector Spherical Wave Functions: Cylindrical Wave Guide
       vswf.bbz, # Vector Spherical Wave Functions: Bessel Beams Z-Oriented
       vswf.bbp, # Vector Spherical Wave Functions: Bessel Beams P-Oriented
       vswf.vsh, # Vector Spherical Wave Functions: Vector Spherical Harmonics
       vswf.sbf, # Vector Spherical Wave Functions: Spherical Bessel Functions
       vswf.hmp, # Vector Spherical Wave Functions: Hansen Multipoles
       #
       lcfe.cbl, # Lenz Continued Fraction Evaluation: Cyl. Bessel Log Derivativ
       lcfe.cbd, # Lenz Continued Fraction Evaluation: Cyl. Bessel Direct Ratio
       lcfe.cbi, # Lenz Continued Fraction Evaluation: Cyl. Bessel Inverse Ratio
       lcfe.rbl, # Lenz Continued Fraction Evaluation: Ric. Bessel Log. Deriv.
       lcfe.sbl, # Lenz Continued Fraction Evaluation: Sph. Bessel Log. Deriv.
       lcfe.sbd, # Lenz Continued Fraction Evaluation: Sph. & Ric. Direct Ratio
       lcfe.sbi, # Lenz Continued Fraction Evaluation: Sph. & Ric. Inverse Ratio
       #
       comp.rcj, # Comparative for the Ratio \gamma_n=J_n/J_{n+1}: Cyl. Bessel
       comp.rsj, # Comparative for the Ratio \rho_n=j_n/j_{n+1}: Sph./Ric Bessel
       comp.rsy, # Comparative for the Ratio \rho_n=y_n/y_{n+1}: Sph./Ric Bessel
       comp.lcj, # Comparative Log. Derivative D_n=J_n'/J_n: Cyl. Bessel
       comp.lsj, # Comparative Log. Derivative c_n=j_n'/j_n: Sph. Bessel
       comp.lrj, # Comparative Log. Derivative C_n=(x j_n)'/(x j_n): Ric. Bessel
       #
       reff.cjn, # Reference function: Cylindrical Bessel J_n(x)
       reff.sjn, # Reference function: Spherical Bessel function j_n(x)
       reff.rjn, # Reference function: Riccati-Bessel x j_n(x)
       reff.cdj, # Reference function: Derivative of Cylindrical Bessel J_n'(x)
       reff.sdj, # Reference function: Derivative of Spherical Bessel j_n'(x)
       reff.rdj, # Reference function: Derivative of Ricatti-Bessel (x j_n(x))'
       reff.ch1, # Reference function: Spherical Hankel function h_n(1)=j_n+iy_n
       reff.cdh, # Reference function: Derivative of Spherical Hankel h_n'(1)
       #
       zess.cyl, #
       zess.sph, #
       zess.ric) #
