useDynLib(rvswf)
export(vwfd.rwg,
       vwfd.cwg,
       vwfd.bbz,
       vwfd.bbp,
       vswf.pwe,
       vswf.jlm,
       vswf.qlm,
       vswf.psi,
       vswf.gpw,
       vswf.mpw,
       vswf.gwg,
       vswf.rwg,
       vswf.cwg,
       vswf.bbz,
       vswf.bbp,
       vswf.vsh,
       vswf.sbf,
       vswf.hmp)
