useDynLib(rvswf)
export(vwfd.rwg, # Vector Wave Field Definition: Rectangular Wave Guide
       vwfd.cwg, # Vector Wave Field Definition: Cylindrical Wave Guide
       vwfd.bbz, # Vector Wave Field Definition: Bessel Beams Z-Oriented
       vwfd.bbp, # Vector Wave Field Definition: Bessel Beams P-Oriented
       vswf.pwe, # Vector Spherical Wave Functions: Partial Wave Expansion
       vswf.jlm, # Vector Spherical Wave Functions: Positioner j(l,m)
       vswf.qlm, # Vector Spherical Wave Functions: Legendre Q_{lm}
       vswf.psi, # Vector Spherical Wave Functions: Wave Function Psi_{lm}(r)
       vswf.gpw, # Vector Spherical Wave Functions: Generic Plane Wave
       vswf.mpw, # Vector Spherical Wave Functions: Mie's Plane Wave
       vswf.gwg, # Vector Spherical Wave Functions: Generic Wave Guide
       vswf.rwg, # Vector Spherical Wave Functions: Rectangular Wave Guide
       vswf.cwg, # Vector Spherical Wave Functions: Cylindrical Wave Guide
       vswf.bbz, # Vector Spherical Wave Functions: Bessel Beams Z-Oriented
       vswf.bbp, # Vector Spherical Wave Functions: Bessel Beams P-Oriented
       vswf.vsh, # Vector Spherical Wave Functions: Vector Spherical Harmonics
       vswf.sbf, # Vector Spherical Wave Functions: Spherical Bessel Functions
       vswf.hmp, # Vector Spherical Wave Functions: Hansen Multipoles
       lcfe.afs, # Lentz Continued Fraction Evaluation: Auxiliary Function S_n
       lcfe.cbl, # Lentz Continued Fraction Evaluation: Cyl. Bessel Log Deriv.
       lcfe.cbd, # Lentz Continued Fraction Evaluation: Cyl. Bessel Direct Ratio 
       lcfe.cbi, # Lentz Continued Fraction Evaluation: Cyl. Bessel Inverse Rat.
       lcfe.rbl, # Lentz Continued Fraction Evaluation: Ric. Bessel Log. Deriv.
       lcfe.sbl, # Lentz Continued Fraction Evaluation: Sph. Bessel Log. Deriv.
       lcfe.sbd, # Lentz Continued Fraction Evaluation: Sph. & Ric. Direct Ratio
       lcfe.sbi, # Lentz Continued Fraction Evaluation: Sph. & Ric. Inverse Rat.
       lcfa.cyl, # Lentz Continued Fraction Array by Downward Recurrence: Cyl.
       lcfa.sph, # Lentz Continued Fraction Array by Downward Recurrence: Sph.
       lcfa.ric, # Lentz Continued Fraction Array by Downward Recurrence: Ric.
       lmie.log, # Lorentz-Mie an/bn calculation by logarithmic derivative
       lmie.rho, # Lorentz-Mie an/bn calculation by ratio of Bessel functions
       lmie.exp, # Lorentz-Mie an/bn (choose between log/rho)
       lmie.sct, # Lorentz-Mie Q_ext and Q_sct calculation
       lmie.ofc, # Parameters to calculate Optical Force.
       lmie.phs, # Scattering phase calculation.
       lmie.leg, # Modified Legendre functions for expansion of plane waves
       reff.cjn, # Reference function: Cylindrical Bessel J_n(x)
       reff.sjn, # Reference function: Spherical Bessel function j_n(x)
       reff.rjn, # Reference function: Riccati-Bessel x j_n(x)
       reff.cdj, # Reference function: Derivative of Cylindrical Bessel J_n'(x)
       reff.sdj, # Reference function: Derivative of Spherical Bessel j_n'(x)
       reff.rdj, # Reference function: Derivative of Ricatti-Bessel (x j_n(x))'
       reff.chn, # Reference function: Spherical Hankel function h_n(1)=j_n+iy_n
       reff.cdh, # Reference function: Derivative of Spherical Hankel h_n'(1)
       bess.czr, # Cylindrical Bessel Function J_0
       bess.cun, # Cylindrical Bessel Function J_1
       bess.cyl, # Cylindrical Bessel Function J_n
       bess.szr, # Spherical Bessel Function j_0
       bess.sun, # Spherical Bessel Function j_1
       bess.sph, # Spherical Bessel Function j_n
       bess.ric, # Riccati-Bessel Function x R_n
       ridx.pol, # Index of refraction for poliestirene
       ridx.h2o, # Index of refraction for water
       comp.cbd,
       comp.cbl,
       comp.cyl,
       comp.rbl,
       comp.ric,
       comp.sbd,
       comp.sbl,
       comp.neu,
       comp.sph)
